<h2>Some of our work</h2>
<div id="TwoSectionLeft">
    <div class="ImageSection">
        <img src="assets/Images/blackbirdhomesTile_PNG.png" alt="BlackBird Homes GR Image Tile">
    </div>
    <div class="ParagraphSection">
        <div class="ProjectTitle">
            <p>BlackBird Homes GR</p>
        </div>
        <div class="ProjectDetails">
            <p>
                An small home renovation company
                Located in the Grand Rapids Michigan area.
            </p>
            <p>
                We created a brand new website from scratch using the <strong>MEAN</strong> (Mongo, Express, Angular 8, Node) stack.
            </p>
        </div>
        <div class="ButtonSection">
            <div class="Button-Class">
                    <button>Github</button>
            </div>
            <div class="Button-Class_Blue">
                    <button>See live Project</button>
            </div>
            
        </div>
    </div>
</div>
<!--  -->
<div id="TwoSectionRight">
        <div class="ImageSection">
            <img src="assets/Images/MomentumCenterPortalTile_PNG.png" alt="BlackBird Homes GR Image Tile">
        </div>
        <div class="ParagraphSection">
            <div class="ProjectTitle">
                <p>Momentum Center</p>
            </div>
            <div class="ProjectDetails">
                <p>
                    A nonprofit organization created to help and develop communities.

                </p>
                <p>
                    A new Login portal was desperately needed. Their original version had some major issues and we helped them by creating a new portal.
                    For this project we made us of Angular 8 technologies.
                </p>
            </div>
            <div class="ButtonSection">
                <div class="Button-Class">
                        <button><a href="https://github.com/barbaralee13/momentumMemberCheckin">Github</a></button>
                </div>
                <div class="Button-Class_Blue">
                        <button><a href="https://momentumcentercheckin.herokuapp.com/">See live Project</a></button>
                </div>
                
            </div>
        </div>
    </div>