<h2>Some of our work</h2>
<div id="TwoSectionLeft">
    <div class="ImageSection">

    </div>
    <div class="ParagraphSection">
        <div class="ProjectTitle">
            <p>BlackBird Homes GR</p>
        </div>
        <div class="ProjectDetails">
            <p>
                BlackBird Homes GR is an small home renovation company
                Located in the Grand Rapids Michigan area.
            </p>
            <p>
                We created a brand new website using the <strong>MEAN</strong> (Mongo, Express, Angular, Node) stack and
                updating the UI/UX.
            </p>
        </div>
        <div class="ButtonSection">
            <div class="Button-Class">
                    <button>Github</button>
            </div>
            <div class="Button-Class_Blue">
                    <button>See live Project</button>
            </div>
            
        </div>
    </div>
</div>