.Banner{
    width: 100%;
    height: 300px;
    background-color: #5E8DE5;
    text-align: center;
     
}

h2{
    display: block;
    padding-top: 133px;
    margin-top: 0px;
    color: white;
    font-size: 35px;
    font-family: Tahoma;
}
.Paragraph{
    width: 100%;
    height: 220px;
    .Circle{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #A4DBDB;
        opacity: 0.3;
        margin-top: 80px;
        left: 70%;
        position: absolute;
    }
    .Circle_2{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #A4DBDB;
        opacity: 0.3;
        position: absolute;
        margin-top: 31px;
        left: 66%;
        position: absolute;
        
    }
    .Paragraph_Text{
        font-size: 25px;
        font-family: Tahoma;
        color: #2c2c2c;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 100px;
        text-indent: 50px;
    }
}

// Tablet
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .Banner{
        height: 250px;
    }
    h2{
        padding-top: 103px;
        font-size: 28px;
    }
    .Paragraph{
        .Paragraph_Text{
            margin-left: 7%;
            margin-right: 7%;
            font-size: 25px;
        }
    }
}
// Mobile
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
     .Banner{
         height: 232px;
     } 
     h2{
         font-size: 22px;
         padding-top: 81px;
     }
     .Paragraph{
         .Circle, 
         .Circle_2{
             display: none;
         }
         .Paragraph_Text{
             font-size: 20px;
             margin-left: 0px;
             margin-right: 0px;
             margin-top: 75px;
         }
     }  

}
