#GlobalNav{
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    .GlobalNav_Logo_IMG {
        width: 220px;
    }
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .GlobalNav_Links{
        text-align: center;
        list-style: none;
        display: flex;
        .Button-Class{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .Button-Class button{
            width: 130px;
            height: 40px;
            background: #2c2c2c;
            border-color: #2c2c2c;
            border-radius: 40px;
            color: white;
            font-size: 20px;
            font-family: Tahoma;
        }
        .Button-Class button:hover{
            background-color: white;
            color: #2c2c2c;
            border-color: #2c2c2c;
            cursor: pointer;
        }
        .Button-Class_Blue{
            text-align: center;
            margin-top: 10px;
            margin-left: 20px;
            margin-bottom: 20px;
        }
        .Button-Class_Blue button{
            width: 150px;
            height: 40px;
            background: #5288AA;
            border-color: #2c2c2c;
            border-radius: 40px;
            color: white;
            font-size: 20px;
            font-family: Tahoma;
        }
        .Button-Class_Blue button:hover{
            background-color: white;
            color: #2c2c2c;
            border-color: #2c2c2c;
            cursor: pointer;
        }
       
    }
}
