<div id="GlobalNav">
  <div class="GlobalNav_Logo">
    <img class="GlobalNav_Logo_IMG" src="/assets/Images/EscaleSite_Logo.jpg" alt="escalesite Logo" />
  </div>
  <nav>
    <div class="GlobalNav_Links">
      <div class="Button-Class">
          <button (click)="scroll()">Contact</button>
      </div>
      <div class="Button-Class_Blue">
          <button>Portfolio</button>
      </div>
    </div>
    
  </nav>
  
</div>
<router-outlet></router-outlet>
<app-portfolio></app-portfolio>
<app-contact id="contact-page"></app-contact>