<h2>Contact us</h2>
<div id="formContainer">
    <form #userForm = "ngForm" class="form">
        <!-- {{ model | json }} -->
        <input class="inputBox" type="text" name="name" [(ngModel)]="model.name">
        <input class="inputBox" placeholder="Phone Number" type="number" [(ngModel)]="model.number" name="number">
        <input  class="inputBox" placeholder="Email" type="text" [(ngModel)]="model.email" name="email">
        <div class="select" >
            <select [(ngModel)]="model.subject" name="subject" id="standard-select">
                <option *ngFor="let subject of subjects" [value]="subject">{{subject}}</option>
            </select>
        </div>
    
        <textarea placeholder="Message" [(ngModel)]="model.message" name="message"></textarea>
        <div class="Button-Class">
                <button>Submit</button>
            </div>
    </form>
</div>